body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    background: rgb(70, 70, 216) url(/Img/20220731_184535.jpg) no-repeat scroll  0px;
    
}

a{
   text-decoration: none;
   color: rgb(227, 231, 234); 
}

a:hover{
    color: rgb(251, 255, 0);
}


ul{
    list-style: none;
    text-align-last: right;
    text-decoration: none; 
}

li{
    display: inline-table;
    justify-content: space-between;  
    font-size: 21px;
    margin: 17px;
    
}

button{
    font-size: 19px;
    background-color:  rgb(185, 51, 56);
    padding-left: 14px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;  
    cursor: pointer;
}
button:hover{
    background-color: rgb(73, 73, 221);
}

header{
    margin: 110px;
    font-size: 27px;
    font-family: Rockwell;
}

nav{
    color: rgb(238, 237, 236);
    margin: 25px;
    font-size: 21px;
    margin-left: 110px;
    position: relative;
    bottom: 93px;
    
}

ul li a::after{

    content: '';

    height: 3px;

    width: 0;

    background: hsl(218, 88%, 38%);

    position: absolute;

    left: 0;

    bottom: -10px;

    transition: 0.5s;

}


    

