body {
    background-color: tan;

}

i {
    font-size: xx-large;
    color: rgb(237, 244, 108);

}

b {
    font-size: 2.8ch;
}


button {
    background-color: rgb(219, 197, 168);
    font-size: 0.4cm;


}

body {

    background-image: url(shalimar.jpg);
    background-size: cover;
    background-position: left;
    font-family: sans-serif
}

.Menu-Bar {
    background: rgb(154, 31, 19);
    text-align: center;

}

.Menu-Bar ul {
    display: inline-flex;
    list-style: none;
    color: rgb(207, 176, 149);
}

.Menu-Bar ul li {
    width: 125px;
    margin: 0.7px;
    padding: 0.7px;

}

.Menu-Bar ul li a {
    text-decoration: none;
    color: rgb(216, 169, 132);
}

.active,
.Menu-Bar ul li :hover {
    background: rgb(174, 2, 2);
    border-radius: 3px;
}

